.l-body {
  display: block;
  width: 980px;
  margin: 0 auto;
  padding-top: 28px;

  ul {
    margin-bottom: 0;
  }
  ul:before,
  li:before {
    content: none;
  }
}

.m-search-for-lists li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  font-size: 0.9375em;
  margin-right: -1px;
  height: 42px;
  line-height: 40px;
  text-align: center;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  width: 12.5%;
  color: #666;
  cursor: pointer;

  &.is-active {
    border-bottom-color: #fff;
    background-color: #fff;
    border-top: 3px solid #007ac3;
  }
}

.m-search-field {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin-top: -1px;
  border: 1px solid #e2e2e2;
  padding: 20px 0 18px 16px;
}

.m-search-select-wrap {
  display: inline-block;
  margin-right: 4px;
  font-size: 0.875em;
}

.search-select,
.search-select-city,
.search-select-mrt,
.search-select-price,
.search-select-area,
.search-select-curr {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
  display: block;
  height: 40px;
  line-height: 42px;
  border: 1px solid #ccc;
  position: relative;
  text-align: center;
}

.search-select {
  padding-right: 1em;
  font-size: 14px;

  &:before {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-family: FontAwesome;
    color: #666;
    position: absolute;
    content: "\f107";
    right: 0.4em;
    top: 0;
    font-size: 1.2em;
  }

  &.active:before {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.search-select.active,
.dropdown-box.show1 .search-select {
  background-color: #efefef;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset,
    0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 20%) inset,
    0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%) inset, 0 1px 1px rgb(0 0 0 / 5%);
}

.search-select-city,
.search-select-mrt {
  width: 122px;
}

.search-select-price {
  width: 132px;
}

.search-select-area {
  width: 92px;
}

.m-select-option,
.search-select-option,
.search-select-option-mrt,
.search-select-option-price,
.search-select-option-area,
.search-select-option-cities,
.search-keywords-ac,
.m-select-box-option {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 0;
  display: block;
  position: absolute;
  overflow: hidden;
  background-color: #fff;
  z-index: 10;
}

.search-select-option-cities {
  width: 450px;
}
.dropdown-box.show1 .m-select-option,
.dropdown-box.show1 .search-select-option,
.dropdown-box.show1 .search-select-option-mrt,
.dropdown-box.show1 .search-select-option-price,
.dropdown-box.show1 .search-select-option-area,
.dropdown-box.show1 .search-select-option-cities,
.dropdown-box.show1 .search-keywords-ac,
.dropdown-box.show1 .m-select-box-option {
  max-height: 500px;
  margin-top: 15px !important;
  -moz-box-shadow: 2px 2px 2px rgba(153, 153, 153, 0.3);
  -webkit-box-shadow: 2px 2px 2px rgb(153 153 153 / 30%);
  box-shadow: 2px 2px 2px rgb(153 153 153 / 30%);
}

.dropdown-box.show1 .search-select-option-cities {
  max-height: 400px;
  padding: 25px 15px 15px 25px;
}

.dropdown-box.show1 .search-select-option-cities,
.dropdown-box.show1 .search-select-option-price,
.dropdown-box.show1 .search-select-option-area {
  display: block;
  overflow: visible;
  height: auto;
  border: 1px solid #ccc;
  overflow: visible;
  height: auto;
  top: auto;
  left: auto;
  inset: unset !important;
  transform: unset !important;
}

.m-select-option:before,
.search-select-option:before,
.search-select-option-mrt:before,
.search-select-option-price:before,
.search-select-option-area:before,
.search-select-option-cities:before,
.search-keywords-ac:before,
.m-select-box-option:before,
.m-select-option:after,
.search-select-option:after,
.search-select-option-mrt:after,
.search-select-option-price:after,
.search-select-option-area:after,
.search-select-option-cities:after,
.search-keywords-ac:after,
.m-select-box-option:after {
  content: "";
  position: absolute;
  top: -11px;
  left: 17px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #ccc;
}

.m-select-option:after,
.search-select-option:after,
.search-select-option-mrt:after,
.search-select-option-price:after,
.search-select-option-area:after,
.search-select-option-cities:after,
.search-keywords-ac:after,
.m-select-box-option:after {
  top: -10px;
  border-bottom-color: #fff;
}

.search-select-option-cities > ul {
  display: block;
  max-height: 180px;
  overflow-y: auto;
}

.search-select-option-cities > ul > li {
  display: inline-block;
  margin: 6px 0 6px 0.8em;
  width: 82px;
  line-height: 1;
}
.search-select-option-cities a {
  color: #333;
  font-size: 14px;
}
.search-select-option-cities .close {
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 1.0625em;
  color: #aaa;
  opacity: 1;
}
.search-select-option-cities a:hover {
  color: #007ac3;
}
.search-select-option-cities .reset {
  display: block;
  margin-top: 0;
}

.m-select-option > label,
.search-select-option > label,
.search-select-option-mrt > label,
.search-select-option-price > label,
.search-select-option-area > label,
.search-select-option-cities > label,
.search-keywords-ac > label,
.m-select-box-option > label,
.m-select-option .label,
.search-select-option .label,
.search-select-option-mrt .label,
.search-select-option-price .label,
.search-select-option-area .label,
.search-select-option-cities .label,
.search-keywords-ac .label,
.m-select-box-option .label,
.m-select-option > div > label,
.search-select-option > div > label,
.search-select-option-mrt > div > label,
.search-select-option-price > div > label,
.search-select-option-area > div > label,
.search-select-option-cities > div > label,
.search-keywords-ac > div > label,
.m-select-box-option > div > label {
  cursor: pointer;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 38px;
  line-height: 42px;
  padding-left: 12px;
  border-bottom: 1px solid #ccc;
  color: #333;
  font-weight: normal;
}

.search-select-option-price > label,
.search-select-option-area > label {
  border: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  height: 18px;
  width: 18px;
  margin: 0;
  padding: 0;
  margin-right: 4px;
  position: relative;
}

.search-select-option-price .chkbox {
  margin-right: 8px;
}

input[type="checkbox"]:before,
input[type="checkbox"]:after,
input[type="radio"]:before,
input[type="radio"]:after {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  left: 0;
  top: -2px;
}

input[type="checkbox"]:before,
input[type="checkbox"]:after,
input[type="radio"]:before,
input[type="radio"]:after {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  left: 0;
  top: -2px;
}
input[type="checkbox"]:before,
input[type="radio"]:before {
  background: #fff
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEW2trb////O1INHAAAAF0lEQVQI12P4/5+hgZFh/1+CCKgMqBgAaqkZz+biaFkAAAAASUVORK5CYII=)
    2px 4px no-repeat;
}

input[type="checkbox"]:checked:before,
input[type="radio"]:checked:before {
  background: #fff
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAS1BMVEX///8AesP8/f71+v0ShMjQ5/Rhrdpcq9nL5PO02O2AveFzt95AnNMeisoDfMTt9vvq9PrA3vC62++u1exUptc2ltAtkc4njswGfcRrwPHWAAAAXUlEQVQY05WNWQqAMBBDJ3a62tZ9uf9JHVDKIPjh+0oehNA/THwJh9zpHoGixVBQJ1J4oNd9AQ5zx5At0cio4TljsKVVDRzACdjbQ+cgnLJrxotIErTZZKCZDX1wAeCfAdZj+9qdAAAAAElFTkSuQmCC)
    2px 4px no-repeat;
}

.m-select-option .custom-block,
.search-select-option .custom-block,
.search-select-option-mrt .custom-block,
.search-select-option-price .custom-block,
.search-select-option-area .custom-block,
.search-select-option-cities .custom-block,
.search-keywords-ac .custom-block,
.m-select-box-option .custom-block {
  display: block;
  padding: 5px 20px 8px;
  border-top: 1px solid #eee;
}
.input-wrap {
  display: inline-block;
  margin-top: 3px;
}

.dropdown-menu {
  padding: 0;
  border-top-width: 0;
}

input.num {
  display: inline-block;
  width: 36px;
  padding: 4px 3px;
  vertical-align: middle;

  font-size: 14px;
  // color: rgb(133, 133, 133);
  width: 100%;
  height: auto;
  border: 1px solid rgb(133, 133, 133);
}
.m-select-option .custom-block .custom-num,
.search-select-option .custom-block .custom-num,
.search-select-option-mrt .custom-block .custom-num,
.search-select-option-price .custom-block .custom-num,
.search-select-option-area .custom-block .custom-num,
.search-select-option-cities .custom-block .custom-num,
.search-keywords-ac .custom-block .custom-num,
.m-select-box-option .custom-block .custom-num {
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

label.inline {
  display: inline-block;
}

.search-select-option-area label.inline {
  margin-right: 7px;
  display: inline-block !important;
  border: none !important;
  padding-left: 0 !important;
}

input.search-text-keywords {
  display: inline-block;
  width: 340px;
  height: 16px;
  padding: 11px 5px;
  vertical-align: top;
  border: 1px solid #ccc;
  border-right: 0;
  font-size: 14px;
  color: #555;
  box-sizing: content-box;
}
.search-text-query {
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  border: 1px solid #ccc;
  border-left: 0;
  background-image: none;
  background-color: #eee;
  margin-left: 0;
  padding: 3px 8px;
  vertical-align: top;
  cursor: pointer;
}
.search-text-query .fa {
  color: #ccc;
  font-size: 18px;
}

input.search-text-keywords:focus,
.search-text-keywords:focus + .search-text-query {
  border-color: #007ac3;
}

.search-more-fliter-switcher {
  display: inline-block;
  padding: 0;
  margin: 0 0.9em;
  margin-left: 15px;
  font-size: 13px;
  color: #666;
  position: relative;
  overflow: visible;
}
.search-more-fliter-switcher:after {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: FontAwesome;
  color: #666;
  position: absolute;
  content: "\f107";
  right: -1.1em;
  top: 0;
  font-size: 1.2em;
}

.search-submit-btn {
  background-color: #007ac3;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  background-color: #007ac3;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  min-height: 32px;
  line-height: 32px;
  padding: 4px 15px;
  float: right;
  margin-right: 0.5em;
}

.search-submit-btn:hover {
  background-color: #0067a4;
  text-decoration: none;
  color: #fff;
}
